*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.login-card{
width:400px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

.login-card h1{
text-align:center;
color:#16a34a;
margin-bottom:10px;
}

.login-card p{
text-align:center;
color:gray;
margin-bottom:25px;
}

label{
font-weight:bold;
display:block;
margin-bottom:6px;
}

input{
width:100%;
padding:12px;
margin-bottom:18px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

input:focus{
outline:none;
border-color:#16a34a;
}

button{
width:100%;
padding:12px;
background:#16a34a;
color:white;
font-size:17px;
border:none;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#15803d;
}

.bottom-text{
margin-top:20px;
}

.bottom-text a{
text-decoration:none;
font-weight:bold;
color:#2563eb;
}